body {
    font-family: "Poppins";
    background-color: #ECE6F0;
}

h1 {
    font-family: "Comic Neue";
}

#filter {
    font-size: 110%;
}

#sortButtons {
    margin-top: 0.5rem;
}

button {
    background:linear-gradient(to bottom, #ffffff 5%, #f5ebff 100%);
	background-color:#ffffff;
	border-radius:15px;
	border:2px solid #8a6a8a;
	display:inline-block;
	cursor:pointer;
	color:#6b426b;
	font-size:12px;
	padding:7px 14px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

button:hover {
	background:linear-gradient(to bottom, #f5ebff 5%, #ffffff 100%);
	background-color:#f5ebff;
}
button:active {
	position:relative;
	top:1px;
}

#filterStudentList button {
    margin-left: 0.5rem;
}

#filterStudentList div p {
font-size: 90%;
font-weight: bold;
}
